<%- include('../partials/header') %>

<section id="show-page">
  <div>Name: </div>
  <div><%= apparel.name %></div>
  <div>Size: </div>
  <div><%= apparel.size %></div>
  <div>Sold: </div>
  <div><%= apparel.sold ? 'Yes' : 'No' %></div>
</section>
  
<%- include('../partials/footer') %>